body {
    padding: 10%;
    background-color: black !important;
}

h1 {
    display: inline-block;
    background-color: white;
    width: 155px;
    padding: 20px;
}

button {
    background-color: white;
    width: 170px;
    padding: 20px;
    border-radius: 20px !important;
}

p {
    background-color: white;
    color: black;

    display: inline-block;

}

#mainHaeding {
    background-color: white;
    width: 250px;
    padding: 20px;
}

.main {
    text-align: center;
    margin: auto;
}